.App {
  font-family: sans-serif;
  text-align: center;
}

.face-recognisation{
  display: flex;
  flex-direction: column;
  video{
    width:calc(100% - 1rem);
    height: 100%;
    margin: 1rem 0 1rem 0.5rem;
  }
  button{
    background: #ccc;
    border:none;
    color:#fff;
    padding: 1rem;
    text-transform: uppercase;
    width: max-content;
    margin:auto ;
    cursor: pointer;
  }
}